<!DOCTYPE html>
<html lang="ko">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <title>로그인</title>
  <link rel="stylesheet" th:href="@{/static/css/default.css}" />
  <link rel="stylesheet" th:href="@{/static/css/common.css}" />
  <link rel="stylesheet" th:href="@{/static/css/content.css}" />
  <link rel="stylesheet" th:href="@{/static/css/button.css}" />
  <style>
    #login_box .signup_btn {background:#42d870; border:0; border-bottom:solid 3px #4ed177; border-radius:50px; width:100%; height:52px; line-height:52px; font-size:16px; color:#fff; text-align:center; margin:20px 0 15px;}
    #checkEmail{
      display: none;
    }
  </style>
</head>

<body>
<div id="login_wrap">
  <div id="login_box">
    <div class="login_con">
      <div class="login_tit">
        <h2>회원 서비스</h2>
        <p>LOG<i>IN</i></p>
      </div>

      <div class="login_input">
        <form id="loginForm" onsubmit="return false;" autocomplete="off">
          <ul>
            <li>
              <label for="loginId" class="skip_info">아이디</label>
              <input type="text" id="loginId" name="loginId" placeholder="아이디" title="아이디" />
            </li>
            <li>
              <label for="password" class="skip_info">비밀번호</label>
              <input type="password" id="password" name="password" title="비밀번호" placeholder="비밀번호" />
            </li>
          </ul>
          <button type="button" onclick="login();" class="login_btn">로그인</button>
          <button type="button" onclick="openSignupPopup();" class="signup_btn">회원가입</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--/* 회원가입 popup */-->
<div id="signupPopup" class="popLayer">
  <h3>회원가입</h3>
  <div class="pop_container">
    <form id="signupForm" onsubmit="return false;" autocomplete="off">
      <table class="tb tb_row tl">
        <colgroup>
          <col style="width:30%;" /><col style="width:70%;" />
        </colgroup>
        <tbody>
        <tr>
          <th scope="row">아이디<span class="es">필수 입력</span></th>
          <td>
            <input type="text" name="loginId" placeholder="아이디" maxlength="20" style="width: 80%;" />
            <button type="button" id="idCheckBtn" class="btns btn_st5" onclick="checkLoginId();" style="width: 20%; float: right;">중복 확인</button>
          </td>
        </tr>
        <tr>
          <th scope="row">비밀번호(최소 12자리, 최대 20자리)<span class="es">필수 입력</span></th>
          <td><input type="password" name="password" placeholder="비밀번호" maxlength="20" /></td>
        </tr>
        <tr>
          <th scope="row">비밀번호 재입력<span class="es">필수 입력</span></th>
          <td><input type="password" name="passwordCheck" placeholder="비밀번호 재입력" maxlength="20" /></td>
        </tr>
        <tr>
          <th scope="row">이름<span class="es">필수 입력</span></th>
          <td><input type="text" name="name" placeholder="이름" maxlength="10" /></td>
        </tr>
        <tr>
          <th scope="row">성별<span class="es">필수 입력</span></th>
          <td>
            <div class="radio_group">
              <p class="radios">
                <input type="radio" id="male" name="gender" value="M" checked />
                <label for="male">남</label><span class="check"></span>
              </p>
              <p class="radios">
                <input type="radio" id="female" name="gender" value="F" />
                <label for="female">여</label><span class="check"></span>
              </p>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">주민등록번호<span class="es">필수 입력</span></th>
          <td><input type="text" id="regNo" name="regNo" placeholder="하이푼(-) 포함 14자리 입력" maxlength="14"/></td>
        </tr>
        <tr>
          <th scope="row">이메일<span class="es">필수 입력</span></th>
          <td>
            <input type="text" id="email" name="email" style="width: 80%;"/>
            <button type="button" id="verifyBtn" class="btns btn_st5" onclick="verifyEmail();" style="width: 20%; float: right;">전송</button>
          </td>
        </tr>
        <tr id="checkEmail">
          <th scope="row">확인 코드<span class="es">필수 입력</span></th>
          <td>
            <input type="text" id="mailkey" name="mailkey" style="width: 50%;"/>
            <button type="button" id="checkEmailBtn" class="btns btn_st5" onclick="checkEmail();" style="width: 20%; float: right;">확인</button>
          </td>
        </tr>
        </tbody>
      </table>
    </form>
    <p class="btn_set">
      <button type="button" class="btns btn_st2" onclick="saveMember();">가입</button>
      <button type="button" class="btns btn_bdr2" onclick="closeSignupPopup();">취소</button>
    </p>
  </div>
  <button type="button" class="btn_close" onclick="closeSignupPopup();"><span><i class="far fa-times-circle"></i></span></button>
</div>

<script th:src="@{/static/js/function.js}"></script>
<script th:src="@{/static/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/static/js/common.js}"></script>
<script src="https://kit.fontawesome.com/79613ae794.js" crossorigin="anonymous"></script>
<script>
  window.onload = () => {
    document.querySelectorAll('#loginId, #password').forEach(element => {
      element.addEventListener('keyup', (e) => {
        if (e.keyCode === 13) {
          login();
        }
      })
    })
  }

  function login() {

    const form = document.getElementById('loginForm');

    if ( !form.loginId.value || !form.password.value ) {
      alert('아이디와 비밀번호를 모두 입력해 주세요.');
      form.loginId.focus();
      return false;
    }

    $.ajax({
      url : '/login',
      type : 'POST',
      dataType : 'json',
      data : {
        loginId: form.loginId.value,
        password: form.password.value
      },
      async : false,
      success : function (response) {
        location.href = '/setting/list.do';
      },
      error : function (request, status, error) {
        alert('아이디와 비밀번호를 확인해 주세요.');
      }
    })
  }

  $(document).on("keyup", "#regNo", function() {
    $(this).val( $(this).val().replace(/[^0-9]/g, '').replace(/^(\d{0,6})(\d{0,7})$/g, '$1-$2').replace(/-{1,2}$/g, ''));
  });

  function openSignupPopup() {
    layerPop('signupPopup')
  }


  // 회원가입 팝업 close
  function closeSignupPopup() {
    const form = document.getElementById('signupForm');
    const email = document.querySelector('#signupForm input[name="email"]');
    const code = document.querySelector('#signupForm input[name="mailkey"]');
    fetch(`http://ganari3518.iptime.org/caps/mail/cancel`,{
      method: "POST",
      headers:{
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        email: email.value,
        mailkey: code.value
      }),
    })
            .then(response => {
              if(!response.ok){
                throw new Error();
              }
            })
    form.loginId.readOnly = false;
    form.querySelector('#idCheckBtn').disabled = false;
    form.querySelector('#email').disabled = false;
    form.querySelector('#verifyBtn').disabled = false;
    form.querySelector('#checkEmailBtn').disabled = false;
    form.querySelector('#mailkey').disabled = false;
    document.getElementById('checkEmail').style.display = "none";
    form.reset();
    layerPopClose();
  }

  function successSignupPopup() {
    const form = document.getElementById('signupForm');
    form.loginId.readOnly = false;
    form.querySelector('#idCheckBtn').disabled = false;
    form.querySelector('#email').disabled = false;
    form.querySelector('#verifyBtn').disabled = false;
    form.querySelector('#checkEmailBtn').disabled = false;
    form.querySelector('#mailkey').disabled = false;
    document.getElementById('checkEmail').style.display = "none";
    form.reset();
    layerPopClose();
  }

  function checkLoginId() {
    const loginId = document.querySelector('#signupForm input[name="loginId"]');
    isValid(loginId, '아이디');
    const count = getJson(`/member-count`, { loginId : loginId.value });

    if (count > 0) {
      alert('이미 가입된 아이디가 있습니다.');
      loginId.focus();
      return false;
    }

    if (confirm('사용 가능한 아이디입니다.\n입력하신 아이디로 결정하시겠어요?')) {
      loginId.readOnly = true;
      document.getElementById('idCheckBtn').disabled = true;
    }
  }

  function verifyEmail(){
    const email = document.querySelector('#signupForm input[name="email"]');
    var input =  document.getElementById('checkEmail');
    email_regex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i;

    if(!email_regex.test(email.value)){
      alert("올바른 이메일 주소를 입력해주세요.");
      return;
    }

    fetch("http://ganari3518.iptime.org/caps/mail/send",{
      method: "POST",
      headers:{
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        email: email.value
      }),
    })
            .then(response => {
              if(response.ok){
                if(input.style.display = 'none' && email.value != ""){
                  input.style.display = 'table-row';
                }
              }
              return response.text();
            })
            .then(data => {
              alert(data);
            });
  }

  function checkEmail(){
    const email = document.querySelector('#signupForm input[name="email"]');
    const code = document.querySelector('#signupForm input[name="mailkey"]');
    fetch(`http://ganari3518.iptime.org/caps/mail/verify`,{
      method: "POST",
      headers:{
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        email: email.value,
        mailkey: code.value
      }),
    })
            .then(response => {
              if(response.ok){
                document.getElementById('email').disabled = true;
                document.getElementById('verifyBtn').disabled = true;
                document.getElementById('mailkey').disabled = true;
                document.getElementById('checkEmailBtn').disabled = true;
              }
              return response.text();
            })
            .then(data => {
              alert(data);
            })
  }

  function validationMemberInfo(form) {

    const fields = form.querySelectorAll('input:not([type="radio"])');
    const fieldNames = ['아이디', '비밀번호', '비밀번호 재입력', '이름', '주민등록번호'];

    for (let i = 0, len = fields.length; i < len; i++) {
      isValid(fields[i], fieldNames[i]);
    }

    if (form.loginId.readOnly === false) {
      alert('아이디 중복 체크를 완료해주세요.');
      throw new Error();
    }

    if (form.password.value !== form.passwordCheck.value) {
      alert('비밀번호가 일치하지 않습니다.');
      form.passwordCheck.focus();
      throw new Error();
    }

    if(form.password.value.length < 12 || form.password.value.length > 20){
      alert('비밀번호는 12~20자리로 설정해주세요.')
      form.password.focus();
      throw new Error();
    }

    if(form.regNo.value.length !== 14) {
      alert('주민등록번호를 확인해주세요.');
      form.regNo.focus();
      form.regNo.value = '';
      throw new Error();
    }

    if(form.email.value == ''){
      alert('이메일을 입력해주세요.');
      form.email.focus();
      form.email.value = '';
      throw new Error();
    }

    if(form.mailkey.value == ''){
      alert('확인 코드를 입력해주세요.');
      form.mailkey.focus();
      form.mailkey.value = '';
      throw new Error();
    }
  }


  // 회원 정보 저장 (회원가입)
  function saveMember() {

    // 1. 필드 유효성 검사
    const form = document.getElementById('signupForm');
    validationMemberInfo(form);

    // 2. 파라미터 세팅
    const params = {}
    new FormData(form).forEach((value, key) => params[key] = value.trim());
    // params.regNo = params.regNo.replace(/(\d{4})(\d{2})(\d{2})/g, '$1-$2-$3');

    const email = document.querySelector('#signupForm input[name="email"]').value;
    const mailkey = document.querySelector('#signupForm input[name="mailkey"]').value;
    params['email'] = email;
    params['mailkey'] = mailkey;

    // 3. Save API 호출
    var res = callApi('http://ganari3518.iptime.org/member/signup', 'post', params);
    if(res == null){
      alert('가입 중 오류가 발생했습니다!\n다시 회원 가입을 진행해주세요.');
      closeSignupPopup();
    } else {
      alert('가입을 축하드립니다!\n로그인 후 서비스를 이용해 주세요.');
      successSignupPopup();
    }
  }

</script>
</body>
</html>